<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.png">
		<link rel="manifest" href="assets/img/favicons/manifest.json">
		<meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
		<meta name="theme-color" content="#ffffff">
		{% block stylesheets %}
			<link rel="stylesheet" href="/assets/css/jquery-ui.css" type="text/css" media="screen" title="no title" charset="utf-8">
			<link rel="stylesheet" href="/assets/css/jquery-ui.structure.css" type="text/css" media="screen" title="no title" charset="utf-8">
			<link rel="stylesheet" href="/assets/css/jquery-ui.theme.css" type="text/css" media="screen" title="no title" charset="utf-8">
			<link rel="stylesheet" href="/assets/css/jquery.toast.css"/>
			<link rel="stylesheet" href="/assets/css/theme.css"/>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
			<link rel="stylesheet" href="/assets/css/propio.css"/>
		{% endblock %}

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
			<script type="text/javascript" src="/assets/js/jquery-ui.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
			<script src="/assets/js/jquery.toast.js"></script>
			<script src="/assets/js/reservas.js"></script>
			<script src="/assets/js/mesa.js"></script>
			<script src="/assets/js/zonaReservas.js"></script>
			<script src="/assets/js/audio.js"></script>


		{% endblock %}
	</head>


	<body class="d-flex flex-column min-vh-100">

		<nav class="bg-img-title navbar navbar-expand-lg navbar-light sticky-top bg-warning pt-3 pb-3" data-navbar-on-scroll="data-navbar-on-scroll">
			<div class="container">
				<a class="navbar-brand" href="{{path('index')}}"><img src="/assets/img/diseno/logo.png" height="36" alt="logo"/></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{path('index')}}">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{path('app_juegos_index')}}">Juegos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#superhero">Eventos</a>
						</li>

						{% if app.user %}
							<li class="nav-item">
								<div class="dropdown">
									<a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
										Acciones
									</a>

									<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<li>
											<a class="dropdown-item" href="{{ path('app_reservas') }}">Reservar</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('app_misreservas', {'id':app.user.id}) }}">Mis Reservas</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Mi perfil</a>
										</li>
										<li>
											<hr class="dropdown-divider">
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('app_logout') }}">
												<b>Logout</b>
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<div class="d-flex ms-lg-4">
							<ul class="navbar-nav ms-auto">
								<li class="nav-item">
									{{ app.user.userIdentifier }},
								</li>
							</ul>
					{% else %}
						</ul>
						<div class="d-flex ms-lg-4">
							<a class="btn btn-lg btn-outline-light" href="{{path('app_login')}}">Login<i class="fa-thin fa-arrow-right-to-bracket"></i>
							</a>
							<a class="btn btn-lg btn-warning ms-3" href="{{path('app_register')}}">Registro</a>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
		{#FIN  BARRA NAVEGACION ------------------------------------------------------------------------------------------------------------------------------------------ #}
		{% block body %}{% endblock %}

		{# FOOTER ------------------------------------------------------------------------------------------------------------------------------------------ #}
		

		<div class="container rounded-top">
		<nav class="bg-black p-1 rounded-top">
		<audio id="medio" controls style="display:none">
            <source src="/assets/img/juegos/rick.mp3" type="audio/mp3"/>
            <p>audio no compatible</p>
        </audio>
			<input type="button" id="reiniciar" value="reiniciar">
			<input type="button" id="retrasar" value="&laquo;">
			<input type="button" id="play" value="&#9658;">
			<input type="button" id="adelantar" value="&raquo;">
			<input type="button" id="silenciar" value="silenciar">
			<label class="text-white">Volumen</label>
			<input type="button" id="menosVolumen" value="-">
			<input type="button" id="masVolumen" value="+">
		</nav>
		</div>
		<footer
			class="bg-black text-center text-lg-start text-white">
			<!-- Grid container -->
			<div
				class="container p-4">
				<!--Grid row-->
				<div
					class="row my-4">
					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-4 mb-md-0">

						<div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 250px; height: 150px;">
							<img src="/assets/img/diseno/logo.png"/>
						</div>

						<p class="text-center">Proyecto de Desarrollo de Aplicaciones Web</p>

					</div>
					<div class="d-lg-flex col-lg-1 d-none" style="height: 200px;">
						<div class="vr"></div>
					</div>
					<!--Grid column-->


					<!--Grid column-->

					<!--Grid column-->

					<!--Grid column-->
						<div class="col-lg-4 col-md-6 mb-4 mb-md-0"> <h5 class="text-uppercase text-white mb-4">Contacto</h5>

						<ul class="list-unstyled">
							<li>
								<p>
									<i class="fas fa-map-marker-alt pe-2"></i>Avenida Arjona Jaen,23005</p>
							</li>
							<li>
								<p>
									<i class="fas fa-phone pe-2"></i>+ 01 234 567 89</p>
							</li>
							<li>
								<p>
									<i class="fas fa-envelope pe-2 mb-0"></i>jcasper2112@g.educaand.es</p>
							</li>
						</ul>
					</div>
					<!--Grid column-->
					<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
						<h5 class="text-uppercase text-white mb-4">Xokas Cia</h5>

						<ul class="list-unstyled">
							<li class="mb-2">
								<a href="{{path('index')}}" class="text-white">
									<i class="fas fa-paw pe-3"></i>Inicio</a>
							</li>
							<li class="mb-2">
								<a href="#!" class="text-white">
									<i class="fas fa-paw pe-3"></i>Contacto</a>
							</li>
							<li class="mb-2">
								<a href="{{path('app_juegos_index')}}" class="text-white">
									<i class="fas fa-paw pe-3"></i>Juegos</a>
							</li>
						</ul>
					</div>
				</div>
				<!--Grid row-->
			</div>
			<!-- Grid container -->
		</footer>


	</body>

</html>
