{% extends 'base.html.twig' %}

{% block title %}Juegos index{% endblock %}

{% block body %}
<h1 class="container mt-3">Directorio de Juegos</h1>
<div class="container mt-3 p-2 rounder g--fondo-semi shadow mb-3">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                
                <th>descripcion</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for juego in juegos %}
            <tr>
                <td>{{ juego.id }}</td>
                <td>{{ juego.nombre }}</td>

                <td>{{ juego.descripcion }}</td>
                <td>
                    <a class="btn btn-warning text-white"  href="{{ path('app_juegos_show', {'id': juego.id}) }}"> Ver</a>
                    {% if app.user %}
                    {% if "ROLE_ADMIN" in app.user.roles %}   
                    <a class="btn btn-info text-white" href="{{ path('app_juegos_edit', {'id': juego.id}) }}">editar</a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        {% if "ROLE_ADMIN" in app.user.roles %}
    <a class="btn btn-warning" href="{{ path('app_juegos_new') }}">Crear nuevo juego</a>
    {% endif %}
    {% endif %}
    </div>

    
{% endblock %}
