{% extends 'base.html.twig' %}

{% block title %}Juegos{% endblock %}

{% block body %}
<div class="container mt-3 mb-2 g--fondo-semi rounded shadow">
    <h1>Acerca del juego</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nombre</th>
                <td>{{ juego.nombre }}</td>
            </tr>
            <tr>
                <th>Ancho</th>
                <td>{{ juego.ancho }}</td>
            </tr>
            <tr>
                <th>Alto</th>
                <td>{{ juego.alto }}</td>
            </tr>
            <tr>
                <th>MinPlayers</th>
                <td>{{ juego.minPlayers }}</td>
            </tr>
            <tr>
                <th>MaxPlayersa</th>
                <td>{{ juego.maxPlayers }}</td>
            </tr>
            <tr>
                <th>descripcion</th>
                <td>{{ juego.descripcion }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td> <img src="/assets/img/juegos/{{ juego.imagen }}" class="img-thumbnail rounded w-25 g--transicion" </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_juegos_index') }}" class="btn btn-warning m-1 text-white">Volver al Directorio</a>
    {% if app.user %}
        {% if "ROLE_ADMIN" in app.user.roles %}
    <a href="{{ path('app_juegos_edit', {'id': juego.id})}}" class="btn btn-info m-1 text-white">EDITAR</a>
        {% endif %}
    {% endif %}
    {% if app.user %}
        {% if "ROLE_ADMIN" in app.user.roles %}
    {{ include('juegos/_delete_form.html.twig') }}
     {% endif %}
    {% endif %}
    </div>
{% endblock %}
